.main__box {
  padding: 20px;
  background: var(--linear-dark-blue);
  border: 2px solid var(--white);
  border-radius: 12px;
  display: grid;
}
.main__title {
  color: var(--white);
  text-align: center;
  padding-bottom: 15px;
}
.main__img {
  margin: 0 auto;
}
.main__img > object {
  width: 70px;
  height: 70px;
  max-width: 100%;
}
