.footer {
  min-height: 200px;
  padding: 30px 0;
  background: var(--dark-blue);
  border-top: 1px solid var(--white-transparent);
}

.footer__li {
  color: var(--white);
  font-size: var(--fs-sm);
  line-height: var(--lh-md);
  font-weight: var(--fw-thin);
  gap: 15px;
  padding: 5px 0;
}
.footer__li > object {
  width: 30px;
  height: 30px;
}

.footer__designed {
  color: var(--white);
}

@media screen and (max-width: 567px) {
  .footer__designed {
    margin-left: -86px;
    margin-bottom: 10px;
  }
}
