.slide {
  color: white;
  width: 100%;
  text-align: center;
}
.slide__wrapper {
  width: 100%;
  overflow: hidden;
}
.slide__inner {
  display: flex;
  transition: 0.5s all;
  width: 700%;
}
.slide__menu {
  padding: 60px 0;
}

/* transform: translateX(-25%); */
.slide__img {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.slide__img > img {
  max-width: 100%;
  border-radius: 12px 0 12px 0;
  border: 1px solid var(--white-transparent);
}
.slide__info {
  margin-bottom: 30px;
  padding-top: 20px;
  font-size: var(--fs-mdmer);
  font-weight: var(--fw-normal);
  line-height: var(--lh-md);
}
@media screen and (max-width: 768px) {
  .slide__info {
    margin-bottom: 20px;
    padding-top: 0px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-thin);
  }
}
.slide__link,
.slide__prev,
.slide__next {
  background: var(--coral);
  padding: 8px 20px;
  border-radius: 12px 0 12px 0;
  color: var(--white);
  display: inline-block;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.slide__link:hover,
.slide__link:focus {
  box-shadow: 0px 0px 6px var(--white);
}

/* BTNs */

.slide__navigation {
  margin-top: 5px;
  width: 100%;
}
.slide__arrow {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: -1;
}
