@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import '../node_modules/swiper/swiper-bundle.css';

:root {
  /* Colors && Bgc */
  --blue: rgb(78, 78, 231);
  --black: #000000;
  --white: #ffffff;
  --dark-blue: #171836;
  --blue-neutral: #181a54;
  --coral: #f5443b;
  --blue-bgc: #4b5b87;
  --white-transparent: #ffffff6b;
  /*  */
  --linear-blue: linear-gradient(
    180deg,
    rgba(22, 74, 228, 0.5) 0%,
    #164ae4 100%
  );
  --linear-dark-blue: linear-gradient(#0a205a, #010913);
  --pink: #ef2a82;
  /*  Font-sizes*/
  --fs-the-smallest: 14px;
  --fs-smaller: 16px;
  --fs-sm: 18px;
  --fs-mdmer: 21px;
  --fs-md: 24px;
  --fs-mw567: 32px;
  --fs-the-mdest: 34px;
  --fs-lg: 46px;
  --fs-max: 62px;
  --fs-mw992: 42px;
  /* LH */
  --lh-sm: 21px;
  --lh-md: 28px;
  --lh-hg: 36px;
  --lh-lg: 54px;
  --lh-max: 68px;
  /* FW */
  --fw-bold: 700;
  --fw-normal: 400;
  --fw-thin: 300;

  /* Containers */
  --container-default: 1200px;
  --container-md: 992px;
  --container-sm: 768px;
  --container-mb: 567px;
  /* Scale for img and certificate */
  --scale--ratio: 0;
}
/* Default Selectors */
.application {
  background: var(--blue-neutral);
  min-height: calc(100vh - 200px);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
/* MediaQuery */

@media screen and (max-width: 1200px) {
  .container {
    max-width: var(--container-md);
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: var(--container-sm);
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: var(--container-mb);
    padding: 0 25px;
  }
}

/* Flex-containers */
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex__wrap-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__flex {
  display: flex;
  align-items: center;
}
.about__flex {
  display: flex;
  align-items: baseline;
  padding: 50px 0;
}
.cv__flex {
  display: flex;
  justify-content: center;
}
.slider__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 567px) {
  .flex__wrap {
    align-items: inherit;
  }
  .flex__wrap-wrap {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .cv__flex {
    flex-wrap: wrap;
    justify-content: start;
  }
}

/* Grid */
.grid__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 567px) {
  .grid__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Btn */
.default__btn {
  border: none;
  background: transparent;
}
/* Burger Menu Btn */

.burger__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 768px) {
  /* Burger menu (HEADER NAVIGATION) */
  .burger__btn {
    display: flex;
  }
  .header__gitHub {
    display: none;
  }
  .header__list {
    display: none;
  }
}

.burger__btn::after {
  content: '';
  width: 27px;
  height: 2px;
  position: absolute;
  background: var(--white);
  transform: translateY(-6px);
  transition: all 0.3s ease;
}

.burger__btn::before {
  content: '';
  width: 27px;
  height: 2px;
  position: absolute;
  background: var(--white);
  transform: translateY(6px);
  transition: all 0.3s ease;
}

/* ANT Restyle */

.ant-carousel .slick-dots li,
.ant-carousel .slick-dots li button {
  width: 20px;
  height: 5px;
  background: var(--dark-blue);
  border-radius: 4px;
}

.ant-carousel .slick-dots li.slick-active,
.ant-carousel .slick-dots li.slick-active button {
  width: 20px;
  height: 5px;
  background: var(--coral);
  border-radius: 4px;
}

/* Swiper Slider */

.swiper-button-prev,
.swiper-button-next {
  top: 25%;
  color: var(--coral);
}
@media screen and (max-width: 576px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
