.header {
  padding: 10px 0px;
  padding-top: 16px;
  background: var(--blue-neutral);
  border-bottom: 1px solid var(--white-transparent);
}

.header__link {
  padding: 8px 12px;
  position: relative;
  color: var(--white);
  font-size: var(--fs-smaller);
  line-height: var(--lh-sm);
  font-weight: var(--fw-normal);
  display: inline-block;
}

.header__link:hover,
.header__link:focus {
  text-shadow: 0px 0px 4px white;
}

.header__link::after {
  content: '';
  height: 1px;
  background: var(--white);
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.header__link:hover::after {
  width: 100%;
  background: var(--coral);
}

.header__link:focus::after {
  width: 100%;
  background: var(--coral);
}
/* / */
.header__network {
  position: relative;
  display: inline-block;
  z-index: 1;
  margin: 0 13px;
}
.header__network > object {
  position: relative;
  z-index: -1;
  width: 25px;
  height: 25px;
}
